.turned {
	transform: rotateY(180deg);
}

<<<<<<< HEAD
.row {

	position: relative;
}

.card{

	position: relative;
}
img{
	position: absolute ;
}
=======
>>>>>>> 195aa4671748782cccf829374f97e63aeb58be4f
